<mat-nav-list>
    <div class="profile-card" *ngIf="(usuarioAtual | async) as usuario">
        <img src="https://e7.pngegg.com/pngimages/688/352/png-clipart-computer-icons-user-symbol-symbol-miscellaneous-face.png" >
        <div class="header">
            <h2>{{ usuario.nome }}</h2>
            <h4>{{ usuario.email }}</h4>
        </div>
    </div>

    <mat-divider></mat-divider>

    <h2 matSubheader>Páginas</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Dashboard</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/comandas">Comandas</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/produtos">Produtos</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/estabelecimento">Estabelecimento</a>

    <mat-divider></mat-divider>

    <h2 matSubheader>Ferramentas</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/suporte">Suporte</a>

</mat-nav-list>