<mat-nav-list>
    <div class="profile-card" *ngIf="usuarioAtual">
        <img src="{{ estabelecimento.imagem }}" />
        <div class="header">
            <h1>{{ usuarioAtual.nome}}</h1>
            <h4>{{ usuarioAtual.email}}</h4>
            <p>{{ estabelecimento.cidade + ' - '+ estabelecimento.estado }}</p>
        </div>
    </div>

    <mat-divider></mat-divider>

    <h2 matSubheader>Páginas</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Dashboard</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/comandas">Comandas</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/produtos">Produtos</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/categorias">Categorias</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/estabelecimento">Estabelecimento</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/mesas">Mesas</a>
    <a mat-list-item routerLinkActive="list-item-active" hidden routerLink="/suporte">Suporte</a>

</mat-nav-list>