<div class="div-titulo" fxLayout="row" fxLayoutAlign="center center">
  <mat-icon> content_paste </mat-icon>
  <span *ngIf="comanda.id" class="titulo"> Comanda #{{ comanda.id }} </span>
</div>

<mat-divider></mat-divider>

<div class="div-row" fxLayout="row" layout-gt-md="row" *ngIf="comanda">
  <div class="div-column" fxLayout="column" fxLayoutAlign="start center">
    <h2>Detalhes</h2>

    <mat-list role="list">
      <mat-list-item role="listitem">{{ comanda.cliente.usuario.nome }}</mat-list-item>
      <mat-list-item role="listitem">Mesa {{ comanda.mesa.numero }}</mat-list-item>
      <mat-list-item role="listitem">Comanda {{ comanda.dataFechamento ? "fechada" : "em aberto" }}</mat-list-item>
      <mat-list-item role="listitem">{{ comanda.pedidos.length }} Pedidos</mat-list-item>
      <mat-list-item role="listitem">{{ pedidosNaoFinalizados }} Pedidos não finalizados</mat-list-item>
      <mat-list-item role="listitem">Abertura {{ comanda.dataAbertura }}</mat-list-item>
    </mat-list>

  </div>

  <div class="div-column" fxLayout="column" fxLayoutAlign="start center">
    <h2>Produtos</h2>

    <mat-list role="list">
      <mat-list-item *ngFor="let item of adquirirTodosProdutosDistintos()" role="listitem">{{ item.quantidade }} - {{ item.produto.nome }}</mat-list-item>
    </mat-list>

  </div>

  <div class="div-column" fxLayout="column" fxLayoutAlign="start center">
    <h2>Financeiro</h2>

    <mat-list role="list">
      <mat-list-item role="listitem">Valor: {{ formatarMoeda(comanda.valorTotal) }}</mat-list-item>
    </mat-list>

    <button mat-raised-button (click)="confirmarPagamento()" color="accent">
      <span>Pagar</span>
    </button>
  </div>
</div>
