#container {
  width: 100%;
  height: 100%;
  background-color: #2b2a27;
  background-size: cover;
  color: white;
}

#wrapper {
  flex: 1 0 auto;
  padding: 32px auto;
}

#mensagem {
  width: 384px;
  max-width: 384px;
  padding: 32px;
  text-align: center;
  background-color: #2b2a27;
}

.title {
  font-size: 20px;
  margin: 16px 0 32px 0;
}
