#container {
  width: 100%;
  height: calc(100% - 64px);
  background-color: #2b2a27;
  background-size: cover;
  color: white;
}

#wrapper {
  flex: 1 0 auto;
  padding: 32px auto;
}

.title {
  font-size: 20px;
  margin: 16px 0 32px 0;
}
