<div
  class="header"
  fxLayout="column"
  fxLayoutAlign="center center"
  fxLayout.gt-sm="row"
  fxLayoutAlign.gt-sm="space-between center"
>
  <div fxLayout="row" fxLayoutAlign="start center">
    <mat-icon> restaurant </mat-icon>
    <span class="titulo"> Estabelecimento </span>
  </div>

  <div></div>

  <div></div>
</div>

<div fxLayout="row" fxLayoutAlign="center center">
  <form [formGroup]="options">
    <p>
      <mat-form-field hidden>
        <input matInput [formControl]="idControl" />
      </mat-form-field>
    </p>

    <p>
      <mat-form-field>
        <mat-label>Nome</mat-label>
        <input
          matInput
          required
          placeholder="Nome"
          [formControl]="nomeControl"
        />
      </mat-form-field>
    </p>

    <p>
      <mat-form-field>
        <mat-label>Descrição</mat-label>
        <input
          matInput
          required
          placeholder="Descrição"
          [formControl]="descricaoControl"
        />
      </mat-form-field>
    </p>

    <p>
      <mat-form-field>
        <mat-label>Telefone</mat-label>
        <input
          matInput
          required
          placeholder="Telefone"
          [formControl]="telefoneControl"
        />
      </mat-form-field>
    </p>

    <p>
      <mat-form-field>
        <mat-label>Chave PIX</mat-label>
        <input matInput placeholder="Chave PIX" [formControl]="chavePixControl" />
      </mat-form-field>
    </p>

    <div>
      <div *ngIf="!imagem">
        <input
          id="uploadFile"
          type="file"
          (change)="selecionouArquivo($event)"
          accept="image/*"
        />
      </div>

      <div *ngIf="imagem">
        <div fxLayoutAlign="space-around center">
          <img src="{{ imagem }}" />
        </div>

        <div class="remover-imagem" fxLayout="row" fxLayoutAlign="space-around center">
          <h3 *ngIf="fileName">{{ fileName }}</h3>
          <button mat-flat-button color="warn" (click)="removerImagem()">
            Remover imagem
          </button>
        </div>
      </div>
      
    </div>
  </form>
</div>

<div fxLayout="row" fxLayoutAlign="center center" class="div-salvar">
  <button
    mat-raised-button
    [disabled]="options.invalid || options.pristine"
    (click)="editar()"
    color="accent"
  >
    <span>Salvar</span>
  </button>
</div>
