<div
  class="header"
  fxLayout="column"
  fxLayoutAlign="center center"
  fxLayout.gt-sm="row"
  fxLayoutAlign.gt-sm="space-between center"
>
  <div fxLayout="row" fxLayoutAlign="start center">
    <mat-icon> library_add </mat-icon>
    <span class="titulo"> Novo produto </span>
  </div>

  <div></div>

  <button mat-raised-button routerLink="/produtos">
    <span>Voltar</span>
  </button>
</div>

<div fxLayout="row" fxLayoutAlign="center center">
  <form [formGroup]="options">
    <input matInput hidden [formControl]="nomeControl" />
    <p>
      <mat-form-field appearance="standard">
        <mat-label>Nome</mat-label>
        <input
          matInput
          placeholder="Nome"
          required
          [formControl]="nomeControl"
        />
      </mat-form-field>
    </p>

    <p>
      <mat-form-field appearance="standard">
        <mat-label>Descrição</mat-label>
        <input
          matInput
          placeholder="Descrição"
          [formControl]="descricaoControl"
        />
      </mat-form-field>
    </p>

    <p>
      <mat-form-field appearance="standard">
        <mat-label>Valor</mat-label>
        <input
          matInput
          placeholder="Valor"
          type="number"
          class="example-right-align"
          required
          [formControl]="valorControl"
        />
        <span matPrefix>R$&nbsp;</span>
      </mat-form-field>
    </p>

    <p>
      <mat-checkbox [formControl]="ativoControl">Ativo</mat-checkbox>
    </p>
  </form>
</div>

<div fxLayout="row" fxLayoutAlign="center center">
  <button
    mat-raised-button
    class="save-product-button"
    [disabled]="options.invalid"
    *ngIf="pageType === 'new'"
    (click)="adicionar()"
  >
    <span>Adicionar</span>
  </button>

  <button
    mat-raised-button
    class="save-product-button"
    [disabled]="options.invalid || options.pristine"
    *ngIf="pageType === 'edit'"
    (click)="salvar()"
  >
    <span>Salvar</span>
  </button>
</div>
