<div
  fxLayout="row"
  fxLayoutAlign="space-between center"
  fxLayoutGap="20px"
  class="stats-cards"
>
  <mat-card fxFlex="33.33">
    <app-widget-card-info
      label="Aguardando confirmação"
      [total]="aguardandoConfirmacao"
      icone="notification_important"
      [corIcone]="adquirirCorIcone(1, aguardandoConfirmacao)"
    ></app-widget-card-info>
  </mat-card>

  <mat-card fxFlex="33.33">
    <app-widget-card-info
      label="Pedidos em andamento"
      [total]="pedidosEmAndamento"
      icone="fiber_new"
      [corIcone]="adquirirCorIcone(5, pedidosEmAndamento)"
    ></app-widget-card-info>
  </mat-card>

  <mat-card fxFlex="33.33">
    <app-widget-card-info
      label="Comandas abertas"
      [total]="comandasAbertas"
      icone="warning"
      [corIcone]="adquirirCorIcone(10, comandasAbertas)"
    ></app-widget-card-info>
  </mat-card>
</div>

<mat-divider></mat-divider>

<br />

<table
  mat-table
  *ngIf="dataSource"
  [dataSource]="dataSource"
  multiTemplateDataRows
  class="mat-elevation-z8"
>
  <ng-container matColumnDef="id" hidden="true">
    <th mat-header-cell *matHeaderCellDef>Nº Pedido</th>
    <td mat-cell *matCellDef="let element">#{{ element.id }}</td>
  </ng-container>

  <ng-container matColumnDef="codigoStatus">
    <th mat-header-cell *matHeaderCellDef>Status</th>
    <td mat-cell *matCellDef="let element">
      {{ exibirStatus(element.codigoStatus) }}
    </td>
  </ng-container>

  <ng-container matColumnDef="mesaDTO">
    <th mat-header-cell *matHeaderCellDef>Mesa</th>
    <td mat-cell *matCellDef="let element">{{ element.numeroMesa }}</td>
  </ng-container>

  <ng-container matColumnDef="nomeCliente">
    <th mat-header-cell *matHeaderCellDef>Cliente</th>
    <td mat-cell *matCellDef="let element">{{ element.nomeCliente }}</td>
  </ng-container>

  <ng-container matColumnDef="dataCadastro">
    <th mat-header-cell *matHeaderCellDef>Horário</th>
    <td mat-cell *matCellDef="let element">{{ element.dataCadastro }}</td>
  </ng-container>

  <!-- Linha expandida -->
  <ng-container matColumnDef="expandedDetail">
    <td
      mat-cell
      *matCellDef="let element"
      [attr.colspan]="columnsToDisplay.length"
      [class]="element == pedidoExpandido ? 'expandido' : ''"
    >
      <mat-divider *ngIf="element == pedidoExpandido"></mat-divider>
      <div
        *ngIf="element == pedidoExpandido"
        class="example-element-detail row"
      >
        <mat-list #itens>
          <mat-list-item *ngFor="let pedidoItem of element.pedidoItens">
            <div mat-line>{{ adquirirDescricaoItem(pedidoItem) }}</div>
            <div *ngIf="pedidoItem.observacao" mat-line class="div-observacao">
              Observação: {{ pedidoItem.observacao }}
            </div>
          </mat-list-item>
        </mat-list>
      </div>
      <div
        class="row linha-botoes"
        fxLayoutAlign="center center"
        *ngIf="element == pedidoExpandido"
      >
        <button
          mat-raised-button
          (click)="prosseguirPedido()"
          color="accent"
          [disabled]="botaoProsseguirDesativado"
        >
          {{ descricaoBotaoProsseguir }}
        </button>
        <button
          mat-raised-button
          (click)="recusarPedido()"
          color="warn"
          [disabled]="botaoRecusarDesativado"
        >
          RECUSAR
        </button>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr
    mat-row
    *matRowDef="let element; columns: columnsToDisplay"
    class="example-element-row"
    [class.example-expanded-row]="pedidoExpandido === element"
    (click)="onExpandPedido(element)"
  ></tr>
  <tr
    mat-row
    *matRowDef="let row; columns: ['expandedDetail']"
    class="example-detail-row"
  ></tr>
  <tr class="mat-row" *matNoDataRow>
    <td class="mat-cell" colspan="4">
      Não há pedidos pendentes
    </td>
  </tr>
</table>
