#login {
  width: 100%;
  height: calc(100% - 64px);
  background-color: #2b2a27;
  background-size: cover;
  color: white;
}

#login-form-wrapper {
  flex: 1 0 auto;
  padding: 32px auto;
}

#login-form {
  width: 384px;
  max-width: 384px;
  padding: 32px;
  text-align: center;
  background-color: #2b2a27;
}

.title {
  font-size: 20px;
  margin: 16px 0 32px 0;
}

form {
  width: 100%;
  text-align: left;

  mat-form-field {
    width: 100%;
  }

  .remember-forgot-password {
    font-size: 13px;
    margin-top: 8px;

    .forgot-password {
      font-size: 13px;
      font-weight: 400;
      margin-bottom: 16px;
      margin: 5px auto;
      display: block;
    }
  }

  .submit-button {
    width: 220px;
    margin: 16px auto;
    display: block;
  }
}
