table {
  width: 100%;
}

.header {
  padding: 0 20px 20px 20px;
}

.titulo {
  line-height: 24px;
  margin-left: 8px;
  font-size: 20px;
}

.div-pesquisar {
  width: 30%;
  mat-form-field {
    width: 100%;
  }
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td,
th {
  width: 25%;
}

.mat-column-descricao {
  padding-right: 10px;
  width: 38% !important;
}

.mat-column-ativo {
  width: 10%;
}

.mat-column-categoria {
  width: 13%;
}

.mat-column-valor {
  width: 15%;
}
