<div
  class="header"
  fxLayout="column"
  fxLayoutAlign="center center"
  fxLayout.gt-sm="row"
  fxLayoutAlign.gt-sm="space-between center"
>
  <div fxLayout="row" fxLayoutAlign="start center">
    <mat-icon> library_add </mat-icon>
    <span class="titulo">
      {{ tipoPagina == "editar" ? "Edição" : "Cadastro" }} de categoria
    </span>
  </div>

  <div></div>

  <button mat-raised-button routerLink="/categorias">
    <span>Voltar</span>
  </button>
</div>

<div fxLayout="row" fxLayoutAlign="center center">
  <form [formGroup]="options">
    <p>
      <mat-form-field hidden>
        <input matInput [formControl]="idControl" />
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="standard">
        <mat-label>Nome</mat-label>
        <input matInput placeholder="Nome" [formControl]="nomeControl" />
      </mat-form-field>
    </p>
  </form>
</div>

<div fxLayout="row" fxLayoutAlign="center center">
  <button
    mat-raised-button
    [disabled]="options.invalid"
    *ngIf="tipoPagina === 'cadastro'"
    (click)="cadastrar()"
  >
    <span>Cadastrar</span>
  </button>

  <button
    mat-raised-button
    [disabled]="options.invalid || options.pristine"
    *ngIf="tipoPagina === 'editar'"
    (click)="editar()"
  >
    <span>Salvar</span>
  </button>
</div>
