<div id="mesas">
  <div
    class="header"
    fxLayout="column"
    fxLayoutAlign="center center"
    fxLayout.gt-sm="row"
    fxLayoutAlign.gt-sm="space-between center"
  >
    <div fxLayout="row" fxLayoutAlign="start center">
      <mat-icon> place </mat-icon>
      <span class="titulo"> Mesas </span>
    </div>

    <div fxLayout="row" fxLayoutAlign="start center" class="div-pesquisar">
      <mat-form-field>
        <mat-label>Pesquisar</mat-label>
        <input
          matInput
          (keyup)="aplicarFiltro($event)"
          placeholder="Mesa"
          #input
        />
      </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutAlign="start center">
      <button mat-raised-button routerLink="/cadastro-mesa" color="primary">
        <mat-label>Adicionar</mat-label>
      </button>
    </div>
  </div>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="numero">
      <th mat-header-cell *matHeaderCellDef>Número</th>
      <td mat-cell *matCellDef="let element">{{ element.numero }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: displayedColumns"
      [routerLink]="['/cadastro-mesa/', row]"
    ></tr>
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">
        Não foi encontrado resultados para "{{ input.value }}"
      </td>
    </tr>
  </table>
</div>
